body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    margin: 15px;
    padding: 0 15px;
}

nav a {
    padding: 0 15px;
    text-decoration: none;
}
#coding-quiz{
    display:flex;
    text-align: center;
    justify-content: center;
}
#start-quiz, #questions, #score{
    border: 5px black solid;
    padding: 15px;
    height:250px;
    width:500px;
}

.start-quiz {
    display:none;
    text-align: center;
}

#questions {
    display:none;
    justify-content: center;
    text-align: justify;
}


#score{
    display:none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


#highScorePage {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

#highScorePage button{
    width:100px;
    height:30px;
    margin: 0 15px;
}