header {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    margin: 0;
    padding: 0 15px;
}

nav a {
    padding: 0 15px;
    text-decoration: none;
}

#start-quiz{
    text-align:center;
}

.start-quiz {
    display:none;
}

#questions {
    display:none;
    justify-content: center;
}


#score{
    display:none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


#highScorePage {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}